
<!DOCTYPE html>
<html>
<body>

<app-navbar></app-navbar>
<div class="container">
<div class="col-xs-13">
<p>
  Artisans
  <br/>
  <button type="button" class="btn btn-secondary ">
      Add Customers 
      <span class="sr-only"></span>
     </button>
</p>
<br/>
<div align="center">
    <p><b>List of Artisans Registerd  </b></p>
</div>
<div id="table" >
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Machanic</th>
        <th>Distance</th>
        <th>Speciality</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
</body>
</html>
