
<!DOCTYPE html>
<html>
<body>

<app-navbar></app-navbar>
<div class="container">
<div class="col-xs-13y">
<p>
  <b>Customers</b>
  <br/>
  <button type="button" class="btn btn-secondary ">
      Add Customers 
      <span class="sr-only"></span>
     </button>
</p>  
<div id="table" >
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name and Surname</th>
        <th>Contact Number</th>
        <th>Email Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
</body>
</html>
