<nav class="navbar navbar-light bg-light justify-content-end">
    <form class="form-inline">
      <div class="btn-group" role="group" aria-label="Basic example">
      <button class="btn btn-outline-success btn-secondary" type="button">Workspace</button>
      <button class="btn btn-outline-success btn-secondary" type="button">Customers</button>
      <button class="btn btn-outline-success btn-secondary" type="button">Artisans.</button>
      <button class="btn btn-outline-success btn-secondary" type="button">Vehicles.</button>
      </div>
    </form>
  </nav>