<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-light justify-content-end">
  <form class="form-inline">
    <div class="btn-group" role="group" aria-label="Basic example">
    <button class="btn btn-outline-success btn-secondary" type="button"><a routerLink="/Workplace">Workspace</a></button>
    <button class="btn btn-outline-success btn-secondary" type="button"><a routerLink="/Customer">Customers</a></button>
    <button class="btn btn-outline-success btn-secondary" type="button"><a routerLink="/Artisan">Artisans</a></button>
    <button class="btn btn-outline-success btn-secondary" type="button"><a routerLink="/Vehicles">Vehicles</a></button>
    </div>
  </form>
</nav>
<br>
  <router-outlet></router-outlet>
  