
<!DOCTYPE html>
<html>
<body>

<app-navbar></app-navbar>
<div class="container">
<div class="col-xs-13">
<p>
  WorkSpace
  <br/>
</p>
<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Select Vehicle Make
     <span class="sr-only"></span>
    </button>
    <div class="dropdown-menu">
      <!-- Dropdown menu links -->
    </div>
  </div>
  &nbsp;
  &nbsp;
  <div class="btn-group">
    <button type="button" class="btn btn-secondary">
      Select Make
    </button>
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropright</span>
    </button>
    <div class="dropdown-menu">
      <!-- Dropdown menu links -->
    </div>
  </div>
  &nbsp;
  &nbsp;
  <div class="btn-group">
      <button type="button" class="btn btn-secondary">
        Select Year
      </button>
      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropright</span>
      </button>
      <div class="dropdown-menu">
        <!-- Dropdown menu links -->
      </div>
    </div>
<br/>
<br/>
<div class="">
    <input class="form-control"  type="text" placeholder="Enter location of vehicle">
</div>
<br/>
<div class=" ">
    <textarea class="form-control" rows="5" id="comment" placeholder="Type in problem or service reguired..."></textarea>  
</div>
<br/>
<div align="center">
    <p><b>Matching Machanic Nearby</b></p>
</div>

<div id="table" >
    <input class="form-control" id="myInput" type="text" placeholder="Search for Machanic">
  <br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Machanic</th>
        <th>Distance</th>
        <th>Speciality</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
</body>
</html>
