.save{
    background-image: url("../img/addicon.jpg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: bottom left;
    background-color: whitesmoke;
    text-align: center;
    height: 50px;
    width: 15%;
    color: black;
 }